{% comment %}
    Renders an close button.

    Accepts:
    - id: {String} Button close id.

    Usage:
    {% render 'button-close' id: 'id' %}
{% endcomment %}

{% assign id = id | default: '' %}

<button
	{% if id != blank %} id="{{ id }}" {% endif %}
	type="button"
	class="w-12 h-12 rounded-full flex items-center justify-center fixed z-2 top-0 right-0 border-orange-grayish border-[0.0625rem] m-5 bg-white"
	aria-label="{{ 'accessibility.close' | t }}"
>
	{% render 'svg', icon: 'close', classes: 'w-5 h-5 fill-current' %}
</button>
