<header-drawer data-breakpoint="tablet">
	<details id="Details-menu-drawer-container" class="lg:hidden">
		<summary
			class="expanded:bg-gray-very-dark py-[1.375rem] px-6 expanded:text-white"
			aria-label="{{ 'sections.header.menu' | t }}"
		>
			{% render 'svg', icon: 'bars', classes: 'parent-expanded:hidden block h-5 w-4 fill-current', description: shop.name %}
			{% render 'svg', icon: 'close', classes: 'parent-expanded:block hidden h-5 w-4 fill-current', description: shop.name %}
		</summary>
		<div id="menu-drawer" class="menu-drawer w-full bg-white text-gray-very-dark" tabindex="-1">
			<div class="menu-drawer__inner-container">
				<div class="h-full flex flex-col justify-between overflow-y-auto">
					<nav class="menu-drawer__navigation p-5 h-full">
						<ul class="has-submenu list-none space-y-4 flex flex-col h-full" role="list">
							{% render 'item-menu', links: section.settings.menu-mobile.links %}
							{% render 'item-menu', links: section.settings.secondary-menu-mobile.links, first_item_classes: '!mt-auto' %}
						</ul>
					</nav>

					{%- if shop.customer_accounts_enabled -%}
						<div class="p-5 py-[1.4375rem] relative">
							<hr class="w-full h-[0.0625rem] absolute top-0 inset-x-0 block bg-orange-grayish"/>
							<a
								href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
								class="flex font-display"
							>
								{% render 'svg', icon: 'account', classes: 'mr-5 w-5 h-5' %}
								{%- liquid
									if customer
										echo 'customer.account_fallback' | t
									else
										echo 'customer.log_in' | t
									endif
								-%}
							</a>
						</div>
					{%- endif -%}
				</div>
			</div>
		</div>
	</details>
</header-drawer>
