<div class="gap-x-1.5 flex {{ classes }}">
    <button class="button-secondary text-gray-very-dark border-orange-grayish inline-block align-middle js-previous hover:bg-red-very-light hover:text-white hover:border-red-very-light" type="button">&leftarrow;</button>
    <button class="button-secondary text-gray-very-dark border-orange-grayish inline-block align-middle js-next hover:bg-red-very-light hover:text-white hover:border-red-very-light" type="button">&rightarrow;</button>
</div>
