/**
 * Spinner
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */

.spinner {
	animation: rotator theme('transitionDuration.1000') theme('transitionTimingFunction.in-out') infinite;
}

@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
