<div class="drawercommintments">DRAWER COMMINTMENTS</div>

{% schema %}
{
  "name": "t:sections.drawercommintments.name",
  "tag": "section",
  "class": "section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "page",
      "name": "t:sections.drawercommintments.blocks.pages.name",
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.drawercommintments.blocks.pages.settings.page.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.drawercommintments.presets.name"
    }
  ]
}
{% endschema %}
