<div class="drawer">DRAWER</div>

{% schema %}
{
  "name": "t:sections.drawer.name",
  "tag": "section",
  "class": "section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "page",
      "id": "page",
      "label": "Page"
    }
  ],
  "presets": [
    {
      "name": "t:sections.drawer.presets.name"
    }
  ]
}
{% endschema %}
