<div class="drawercommintments">DRAWER COMMINTMENTS</div>

{% schema %}
{
  "name": "t:sections.drawercommintments.name",
  "tag": "section",
  "class": "section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "page",
      "id": "page",
      "label": "Page",
      "name": "t:sections.drawercommintments.blocks.page.name"
    }
  ],
  "presets": [
    {
      "name": "t:sections.drawercommintments.presets.name"
    }
  ]
}
{% endschema %}
