<div>FEATURED LINKS</div>
{% schema %}
{
  "name": "t:sections.featured-links.name",
  "tag": "section",
  "class": "section section-featured-links",
  "settings": [

  ],
  "presets": [
    {
      "name": "t:sections.featured-links.presets.name"
    }
  ]
}
{% endschema %}
