<div>FEATURED LINKS</div>
{% schema %}
{
  "name": "t:sections.featured-links.name",
  "tag": "section",
  "class": "section section-featured-links",
  "settings": [

  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.featured-links.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured-links.blocks.column.settings.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.featured-links.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-links.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
