
<section>
	KEY FIGURE
</section>

{% schema %}
{
  "name": "t:sections.key-figure.name",
  "tag": "section",
  "class": "section section-key-figure",
  "settings": [
    {
      "type": "number",
      "id": "key_figure",
      "label": "t:sections.key-figure.settings.key-figure.label",
      "placeholder": "t:sections.key-figure.settings.key-figure.placeholder"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.key-figure.settings.title.label",
      "placeholder": "t:sections.key-figure.settings.title.placeholder"
    }
  ],
  "presets": [
    {
      "name": "t:sections.key-figure.presets.name"
    }
  ]
}
{% endschema %}
