
<section class="my-[4.5rem]">
	{% if section.settings.key_figure != empty %}
		<p class="lg:text-[9.375rem] font-display font-bold leading-none">
			{{ section.settings.key_figure }}
		</p>
	{% endif %}
	{% if section.settings.title != empty %}
		<p class="lg:text-6xl font-display font-bold lg:leading-none">
			{{ section.settings.title }}
		</p>
	{% endif %}
</section>

{% schema %}
{
  "name": "t:sections.key-figure.name",
  "tag": "section",
  "class": "section section-key-figure",
  "settings": [
    {
      "type": "number",
      "id": "key_figure",
      "label": "t:sections.key-figure.settings.key-figure.label",
      "placeholder": "t:sections.key-figure.settings.key-figure.placeholder"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.key-figure.settings.title.label",
      "placeholder": "t:sections.key-figure.settings.title.placeholder"
    }
  ],
  "presets": [
    {
      "name": "t:sections.key-figure.presets.name"
    }
  ]
}
{% endschema %}
