<div>LAB CONTENT</div>

{% schema %}
{
	"name": "t:sections.lab-content.name",
	"tag": "section",
	"class": "section section-lab-content",
	"settings": [
	  {
		"type": "text",
		"id": "anchor",
		"label": "t:sections.lab-content.settings.anchor.label",
		"placeholder": "t:sections.lab-content.settings.anchor.placeholder"
	  }
	],
	"presets": [
	  {
		"name": "t:sections.lab-content.presets.name"
	  }
	]
  }
{% endschema %}
