<div>
	<div class="container">
		<div class="row">
			<div class="lg:col-9/12 lg:ml-3/12">
				<h2 class="text-[3.125rem] lg:text-[5.625rem] uppercase font-bold font-display text-center leading-[5.5rem]">
					{{- section.settings.title -}}
				</h2>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.lab-content.name",
  "tag": "section",
  "class": "section section-lab-content",
  "settings": [
    {
      "type": "text",
      "id": "anchor",
      "label": "t:sections.lab-content.settings.anchor.label",
      "placeholder": "t:sections.lab-content.settings.anchor.placeholder"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "t:sections.lab-content.settings.title.label",
      "placeholder": "t:sections.lab-content.settings.title.placeholder"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:sections.lab-content.blocks.content.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.lab-content.blocks.content.settings.header_left.content"
        },
        {
          "type": "image_picker",
          "id": "image_left",
          "label": "t:sections.lab-content.blocks.content.settings.image_left.label"
        },
        {
          "type": "text",
          "id": "title_left",
          "label": "t:sections.lab-content.blocks.content.settings.title_left.label"
        },
        {
          "type": "textarea",
          "id": "content_left",
          "label": "t:sections.lab-content.blocks.content.settings.content_left.label"
        },
        {
          "type": "header",
          "content": "t:sections.lab-content.blocks.content.settings.header_icon.content"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.lab-content.blocks.content.settings.icon.label",
          "options": [
            {
              "label": "t:sections.lab-content.blocks.content.settings.icon.options__1",
              "value": "decor-01"
            },
            {
              "label": "t:sections.lab-content.blocks.content.settings.icon.options__2",
              "value": "decor-03"
            },
            {
              "label": "t:sections.lab-content.blocks.content.settings.icon.options__3",
              "value": "decor-04"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.lab-content.blocks.content.settings.header_right.content"
        },
        {
          "type": "text",
          "id": "title_right",
          "label": "t:sections.lab-content.blocks.content.settings.title_right.label"
        },
        {
          "type": "textarea",
          "id": "content_right",
          "label": "t:sections.lab-content.blocks.content.settings.content_right.label"
        },
        {
          "type": "image_picker",
          "id": "image_right",
          "label": "t:sections.lab-content.blocks.content.settings.image_right.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.lab-content.presets.name"
    }
  ],
  "templates": [
    "page"
  ]
}
{% endschema %}
