
<section class="my-6 lg:my-20 px-5 lg:px-32">
	<img src="{{ 'corail-logo.svg' | asset_url }}" class="w-full h-auto" loading="lazy" width="1279" height="233" alt="">
</section>

{% schema %}
{
  "name": "t:sections.logo.name",
  "tag": "section",
  "class": "section section-logo flex",
  "settings": [

  ],
  "presets": [
    {
      "name": "t:sections.logo.presets.name"
    }
  ]
}
{% endschema %}
