
	<div class="py-5">
		<div class="container">
			<div class="row">
				<div>
					<div class="h-[20.1875rem] lg:h-[44.625rem] rounded-[1.25rem] overflow-hidden relative bg-orange-grayish">
						{% if section.settings.video %}
							<video
								class="h-full w-full object-cover relative z-1"
								loop
								muted
								autoplay
								playsinline
								poster="{{ section.settings.video.preview_image | image_url }}"
							>
								{% for source in section.settings.video.sources %}
									<source src="{{ source.url }}" type="{{ source.mime_type }}">
								{% endfor %}
							</video>
						{% endif %}

						<div class="absolute inset-0 flex items-center justify-center z-2">
							<h1 class="font-display font-medium text-6xl uppercase text-white">{{- page.title -}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



{% schema %}
{
  "name": "t:sections.main-lab.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.main-lab.settings.video.label"
    }
  ],
  "blocks": [
    {
      "type": "introduction",
      "name": "t:sections.main-lab.blocks.introduction.name",
      "settings": [
        {
          "type": "text",
          "id": "anchor",
          "label": "t:sections.main-lab.blocks.introduction.settings.anchor.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-lab.blocks.introduction.settings.title.label"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "t:sections.main-lab.blocks.introduction.settings.content.label"
        },
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.main-lab.blocks.introduction.settings.image.label"
		}
      ]
    }
  ]
}
{% endschema %}
