<div class="">
	<div class="container my-12 lg:my-16">
		<div class="row">
			<div>
				<h1 class="text-center font-medium font-display text-6xl">{{- page.title | escape -}}</h1>
			</div>
		</div>
	</div>

	{% if page.content != blank %}
		<hr class="bg-orange-grayish">
		<div class="container">
			<div class="row">
				<div class="col-3/12 lg:block hidden relative">
					<span class="h-full w-[0.0625rem] bg-orange-grayish block absolute right-0 inset-y-0"></span>
				</div>
				<div class="lg:col-6/12 lg:ml-1/12 my-12 lg:my-16 wysiwyg">
					{{- page.content -}}
				</div>
			</div>
		</div>
	{% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [

  ]
}
{% endschema %}
