
<div class="py-5">
	<div class="container">
		<div class="row">
			<div>
				<div class="h-[20.1875rem] lg:h-[44.625rem] rounded-[1.25rem] overflow-hidden relative bg-orange-grayish">
					{% if section.settings.video %}
						<video
							class="h-full w-full object-cover relative z-1"
							loop
							muted
							autoplay
							playsinline
							poster="{{ section.settings.video.preview_image | image_url }}"
						>
							{% for source in section.settings.video.sources %}
								<source src="{{ source.url }}" type="{{ source.mime_type }}">
							{% endfor %}
						</video>
					{% endif %}

					<div class="absolute inset-0 flex items-center justify-center z-2">
						<h1 class="font-display font-medium text-6xl uppercase text-white">{{- page.title -}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.main-lab.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.main-lab.settings.video.label"
    }
  ],
  "blocks": [
    {
      "type": "introduction",
      "limit": 1,
      "name": "t:sections.main-lab.blocks.introduction.name",
      "settings": [
        {
          "type": "text",
          "id": "anchor",
          "label": "t:sections.main-lab.blocks.introduction.settings.anchor.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-lab.blocks.introduction.settings.title.label"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "t:sections.main-lab.blocks.introduction.settings.content.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-lab.blocks.introduction.settings.image.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-lab.blocks.introduction.settings.key_figures_header.content"
        },
        {
          "type": "textarea",
          "id": "key_figures_title",
          "label": "t:sections.main-lab.blocks.introduction.settings.key_figures_title.label"
        },
        {
          "type": "textarea",
          "id": "key_figures_content",
          "label": "t:sections.main-lab.blocks.introduction.settings.key_figures_content.label"
        }
      ]
    },
    {
      "type": "content",
      "limit": 1,
      "name": "t:sections.main-lab.blocks.content.name",
      "settings": [
        {
          "type": "text",
          "id": "anchor",
          "label": "t:sections.main-lab.blocks.content.settings.anchor.label"
        }
      ]
    },
    {
      "type": "slider_content_title",
      "limit": 1,
      "name": "t:sections.main-lab.blocks.slider_content_title.name",
      "settings": [
        {
          "type": "text",
          "id": "anchor",
          "label": "t:sections.main-lab.blocks.slider_content_title.settings.anchor.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-lab.blocks.slider_content_title.settings.title.label"
        }
      ]
    },
    {
      "type": "slider_content",
      "name": "t:sections.main-lab.blocks.slider_content.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-lab.blocks.slider_content.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-lab.blocks.slider_content.settings.title.label"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "t:sections.main-lab.blocks.slider_content.settings.content.label"
        }
      ]
    },
    {
      "type": "slider_image_title",
      "limit": 1,
      "name": "t:sections.main-lab.blocks.slider_image_title.name",
      "settings": [
        {
          "type": "text",
          "id": "anchor",
          "label": "t:sections.main-lab.blocks.slider_image_title.settings.anchor.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-lab.blocks.slider_image_title.settings.title.label"
        }
      ]
    },
    {
      "type": "slider_image",
      "name": "t:sections.main-lab.blocks.slider_image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-lab.blocks.slider_image.settings.image.label"
        }
      ]
    }
  ]
}
{% endschema %}
