<section class="bg-cyan-very-dark-grayish py-14" style="background-size: 4.5rem 4.5rem; background-image: linear-gradient(to right, grey 0.0625rem, transparent 0.0625rem), linear-gradient(to bottom, grey 0.0625rem, transparent 0.0625rem);">
</section>

{% schema %}
{
  "name": "t:sections.tech.name",
  "tag": "section",
  "class": "section section-tech",
  "settings": [

  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.tech.presets.name",
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
