<section class="bg-cyan-very-dark-grayish text-white py-14" style="background-size: 4.5rem 4.5rem; background-image: linear-gradient(to right, rgba(255,255,255, 0.06) 0.0625rem, transparent 0.0625rem), linear-gradient(to bottom, rgba(255,255,255, 0.06) 0.0625rem, transparent 0.0625rem);">

</section>

{% schema %}
{
  "name": "t:sections.tech.name",
  "tag": "section",
  "class": "section section-tech",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "CORAIL° Lab",
      "label": "t:sections.tech.settings.title.label"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "t:sections.tech.settings.content.label"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "t:sections.tech.settings.link_title.label",
      "placeholder": "t:sections.tech.settings.link_title.placeholder"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.tech.settings.link_url.label"
    },
    {
      "type": "image_picker",
      "id": "video_cover_image",
      "label": "t:sections.tech.settings.video_cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.tech.settings.video_url.label",
      "placeholder": "t:sections.tech.settings.video_url.placeholder",
      "info": "t:sections.tech.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "video_description",
      "label": "t:sections.tech.settings.video_description.label",
      "info": "t:sections.tech.settings.video_description.info"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.tech.presets.name",
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
