<section class="bg-cyan-very-dark-grayish text-white py-14" style="background-size: 4.5rem 4.5rem; background-image: linear-gradient(to right, rgba(255,255,255, 0.06) 0.0625rem, transparent 0.0625rem), linear-gradient(to bottom, rgba(255,255,255, 0.06) 0.0625rem, transparent 0.0625rem);">
	<div class="container">
		<div class="row">
			<div>
				<h2 class="font-display font-semibold text-3xl leading-none">{{- section.settings.title | escape -}}</h2>
				<p>{{- section.settings.content | newline_to_br -}}</p>

				{% if section.settings.link_url %}
					<a class="button inline-block align-middle mt-5" href="{{ section.settings.link_url }}">
						&rightarrow;&nbsp;{{- section.settings.link_title -}}
					</a>
				{% endif %}
			</div>

			<div>
				<div class="font-bold text-[7.5rem] leading-[8rem] uppercase text-center font-display">
					less<br>
					<span class="after:bg-red-very-light after:h-4 relative after:inset-0 after:my-auto after:-mx-8 after:absolute">plastic,</span><br>
					more<br>
					corail°<br>
				</div>
			</div>
		</div>
	</div>
</section>
