<div class="twoimage my-14">
	<div class="container">

		<div class="row ">
			<div class="lg:col-5/12 lg:ml-1/12">
				{{ section.settings.left_image | image_url: width: 692, height: 888 | image_tag:
					loading: 'lazy',
					widths: '275, 550, 710, 1420',
					class: 'w-full h-[14rem] lg:h-[31.375rem] object-cover object-center block'
				}}
			</div>
			<div class="lg:col-5/12 mt-16 hidden lg:block">
				{{ section.settings.right_image | image_url: width: 692, height: 888 | image_tag:
					loading: 'lazy',
					widths: '275, 550, 710, 1420',
					class: 'w-full h-[14rem] lg:h-[31.375rem] mt-24 object-cover object-center hidden lg:block'
				}}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.twoimage.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "t:sections.twoimage.settings.left_image.label"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "t:sections.twoimage.settings.right_image.label"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.twoimage.presets.name"
    }
  ]
}
{% endschema %}
