{% if section.settings.left_image != blank or section.settings.right_image != blank %}
	<div class="twoimage my-14">
		<div class="container">

			<div class="row ">
				{% if section.settings.left_image != blank %}
					<div class="lg:col-5/12 lg:ml-1/12 {% if section.settings.right_image != blank %} lg:col-5/12 {% else %} lg:col-10/12 {% endif %}">
						{{ section.settings.left_image | image_url: width: 692, height: 888 | image_tag:
							loading: 'lazy',
							widths: '275, 550, 710, 1420',
							class: 'w-full h-auto lg:h-[31.375rem] object-cover object-center block'
						}}
					</div>
				{% endif %}

				{% if section.settings.right_image != blank %}
					<div class="{% if section.settings.left_image != blank %} lg:mt-16 lg:col-5/12 hidden lg:block {% else %} lg: ml-1/12 lg:col-10/12 {% endif %}">
						{{ section.settings.right_image | image_url: width: 692, height: 888 | image_tag:
							loading: 'lazy',
							widths: '275, 550, 710, 1420',
							class: 'w-full h-auto lg:h-[31.375rem] mt-24 object-cover object-center hidden lg:block'
						}}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.twoimage.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "t:sections.twoimage.settings.left_image.label"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "t:sections.twoimage.settings.right_image.label"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.twoimage.presets.name"
    }
  ]
}
{% endschema %}
