.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
	content: "";
	position: absolute;
	cursor: default;
	width: 100%;
	height: calc(100vh - 100%);
	height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
	top: 100%;
	left: 0;
	background: rgba(var(--color-foreground), 0.5);
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
	visibility: visible;
	opacity: 1;
	transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}

.menu-drawer {
	position: absolute;
	transform: translateX(-100%);
	visibility: hidden;
	z-index: 60;
	left: 0;
	top: 100%;
	overflow-x: hidden;
}

.js .menu-drawer {
	height: calc(100vh - 100%);
	height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
	transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
	transform: translateX(0);
	visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
	visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
	.menu-drawer {
		width: 40rem;
	}

	.no-js .menu-drawer {
		height: auto;
	}
}

.menu-drawer__inner-container {
	position: relative;
	height: 100%;
}

.menu-drawer__inner-submenu {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.no-js .menu-drawer__submenu ul > li {
	border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__submenu {
	transform: translateX(100%);
	visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
	overflow-y: auto;
}

.menu-drawer .list-social {
	justify-content: flex-start;
	margin-left: -1.25rem;
	margin-top: 2rem;
}

.menu-drawer .list-social:empty {
	display: none;
}

.menu-drawer .list-social__link {
	padding: 1.3rem 1.25rem;
}
