/*!********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[8].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[8].use[2]!./src/stylesheets/styles.css ***!
  \********************************************************************************************************************************************************************************/
/**
 * Base
 *
 * @package Corail
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */

@tailwind base;

/*
 * Button
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Corail
 */

/* @import "./components/guid"; */

/*
 * Section header
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */

/**
 * Grid
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */

/**
 * Marquee
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */

/**
 * Wysiwyg
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */

/*! tailwindcss v3.1.8 | MIT License | https://tailwindcss.com
 */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

*,
	::after,
	::before {
		--base-font-size-unitless: 16;
		--prototype-width-unitless: 1440;
	}

html {
		font-size: var(--base-font-size-unitless);
	}

@media (min-width: 1024px) {
		html {
			font-size: calc(var(--base-font-size-unitless) * 100vw / var(--prototype-width-unitless));
		}
	}

body{
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

h1,
	.h1 {
	}

h2,
	.h2 {
	}

h3,
	.h2 {
	}

hr{
  height: 1px;
  width: 100%;
  border-style: none;
}

/* Roobert */

@font-face {
		font-family: "Roobert";
		src: url(roobert-bold.woff2) format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

@font-face {
		font-family: "Roobert";
		src: url(roobert-medium.woff2) format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

@font-face {
		font-family: "Roobert";
		src: url(roobert-semibold.woff2) format("woff2");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.button{
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.button-red{
  --tw-bg-opacity: 1;
  background-color: rgb(255 125 108 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button[aria-disabled="true"] {
	}

.section-header{
  position: sticky;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 50;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.inset-0{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.inset-x-0{
  left: 0px;
  right: 0px;
}

.top-0{
  top: 0px;
}

.bottom-0{
  bottom: 0px;
}

.isolate{
  isolation: isolate;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.z-0{
  z-index: 0;
}

.m-auto{
  margin: auto;
}

.my-16{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.my-20{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.-mt-\[4rem\]{
  margin-top: -4rem;
}

.mb-12{
  margin-bottom: 3rem;
}

.mt-14{
  margin-top: 3.5rem;
}

.mt-7{
  margin-top: 1.75rem;
}

.ml-1\.5{
  margin-left: 0.375rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.ml-auto{
  margin-left: auto;
}

.mr-2{
  margin-right: 0.5rem;
}

.mt-9{
  margin-top: 2.25rem;
}

.mb-16{
  margin-bottom: 4rem;
}

.mt-auto{
  margin-top: auto;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-4{
  margin-top: 1rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-7{
  height: 1.75rem;
}

.h-\[57\.75rem\]{
  height: 57.75rem;
}

.h-full{
  height: 100%;
}

.h-10{
  height: 2.5rem;
}

.h-auto{
  height: auto;
}

.h-px{
  height: 1px;
}

.h-4{
  height: 1rem;
}

.h-1\.5{
  height: 0.375rem;
}

.h-1{
  height: 0.25rem;
}

.h-16{
  height: 4rem;
}

.h-5{
  height: 1.25rem;
}

.h-\[1\.125rem\]{
  height: 1.125rem;
}

.h-\[52\.625rem\]{
  height: 52.625rem;
}

.h-\[30\.5rem\]{
  height: 30.5rem;
}

.h-\[28rem\]{
  height: 28rem;
}

.h-\[25rem\]{
  height: 25rem;
}

.w-7{
  width: 1.75rem;
}

.w-\[22\.75rem\]{
  width: 22.75rem;
}

.w-10{
  width: 2.5rem;
}

.w-full{
  width: 100%;
}

.w-4{
  width: 1rem;
}

.w-1\.5{
  width: 0.375rem;
}

.w-1{
  width: 0.25rem;
}

.w-px{
  width: 1px;
}

.w-28{
  width: 7rem;
}

.w-\[1\.125rem\]{
  width: 1.125rem;
}

.flex-1{
  flex: 1 1 0%;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.flex-grow{
  flex-grow: 1;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-2{
  gap: 0.5rem;
}

.gap-8{
  gap: 2rem;
}

.gap-x-2{
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.gap-y-4{
  row-gap: 1rem;
}

.gap-x-8{
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.space-y-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.overflow-hidden{
  overflow: hidden;
}

.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.border-t{
  border-top-width: 1px;
}

.border-orange-grayish{
  --tw-border-opacity: 1;
  border-color: rgb(207 205 201 / var(--tw-border-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-orange-grayish{
  --tw-bg-opacity: 1;
  background-color: rgb(207 205 201 / var(--tw-bg-opacity));
}

.bg-current{
  background-color: currentColor;
}

.bg-gray-very-light{
  --tw-bg-opacity: 1;
  background-color: rgb(243 243 243 / var(--tw-bg-opacity));
}

.fill-current{
  fill: currentColor;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center{
  -o-object-position: center;
     object-position: center;
}

.p-\[1\.6875rem\]{
  padding: 1.6875rem;
}

.p-\[1\.4375rem\]{
  padding: 1.4375rem;
}

.p-8{
  padding: 2rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-24{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-11{
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.py-\[1\.375rem\]{
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.pt-3{
  padding-top: 0.75rem;
}

.text-center{
  text-align: center;
}

.align-middle{
  vertical-align: middle;
}

.font-display{
  font-family: "Roobert", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-semibold{
  font-weight: 600;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.italic{
  font-style: italic;
}

.leading-6{
  line-height: 1.5rem;
}

.leading-5{
  line-height: 1.25rem;
}

.leading-4{
  line-height: 1rem;
}

.leading-\[1\.125rem\]{
  line-height: 1.125rem;
}

.leading-8{
  line-height: 2rem;
}

.text-gray-very-dark{
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

.text-orange-grayish{
  --tw-text-opacity: 1;
  color: rgb(207 205 201 / var(--tw-text-opacity));
}

.text-orange-dark-grayish{
  --tw-text-opacity: 1;
  color: rgb(151 147 143 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-100{
  opacity: 1;
}

.opacity-0{
  opacity: 0;
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-opacity{
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-1000{
  transition-duration: 1000ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.row{
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  display: flex;
  flex-wrap: wrap;
}

.row > *{
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.col{
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.col-3\/9{
  width: 33.333333333333336%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.col-3\/12{
  width: 25%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.col-6\/12{
  width: 50%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.col-9\/12{
  width: 75%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.marquee {
		animation-name: marquee-text-animation;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		/* float: left; */
	}

@keyframes marquee-text-animation {
		0% {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}

/* Safari and Chrome */

/* Safari and Chrome */

.wysiwyg {
	}

.wysiwyg > *:first-child{
  margin-top: 0px;
}

.wysiwyg > *:last-child{
  margin-bottom: 0px;
}

.wysiwyg > p{
  margin-bottom: 2rem;
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:inset-x-0::after{
  content: var(--tw-content);
  left: 0px;
  right: 0px;
}

.after\:bottom-0::after{
  content: var(--tw-content);
  bottom: 0px;
}

.after\:z-10::after{
  content: var(--tw-content);
  z-index: 10;
}

.after\:block::after{
  content: var(--tw-content);
  display: block;
}

.after\:h-\[18\.375rem\]::after{
  content: var(--tw-content);
  height: 18.375rem;
}

.after\:w-full::after{
  content: var(--tw-content);
  width: 100%;
}

.after\:bg-gradient-to-t::after{
  content: var(--tw-content);
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.after\:from-black::after{
  content: var(--tw-content);
  --tw-gradient-from: #000;
  --tw-gradient-to: rgb(0 0 0 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.after\:pb-\[100\%\]::after{
  content: var(--tw-content);
  padding-bottom: 100%;
}

.hover\:underline:hover{
  text-decoration-line: underline;
}

.group:hover .group-hover\:opacity-0{
  opacity: 0;
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

@media (min-width: 1024px){

  .lg\:-mt-\[4\.5rem\]{
    margin-top: -4.5rem;
  }

  .lg\:mt-auto{
    margin-top: auto;
  }

  .lg\:ml-1\/12{
    margin-left: 8.333333333333334%;
  }

  .lg\:block{
    display: block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:h-\[22\.75rem\]{
    height: 22.75rem;
  }

  .lg\:h-full{
    height: 100%;
  }

  .lg\:h-\[4\.5rem\]{
    height: 4.5rem;
  }

  .lg\:h-\[57\.75rem\]{
    height: 57.75rem;
  }

  .lg\:w-3\/12{
    width: 25%;
  }

  .lg\:w-px{
    width: 1px;
  }

  .lg\:w-auto{
    width: auto;
  }

  .lg\:flex-grow{
    flex-grow: 1;
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:items-end{
    align-items: flex-end;
  }

  .lg\:gap-y-0{
    row-gap: 0px;
  }

  .lg\:gap-x-8{
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .lg\:p-\[1\.6875rem\]{
    padding: 1.6875rem;
  }

  .lg\:py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:px-14{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .lg\:py-7{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .lg\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:py-\[1\.625rem\]{
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
  }

  .lg\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:pb-12{
    padding-bottom: 3rem;
  }

  .lg\:text-right{
    text-align: right;
  }

	.lg\:col-6\/12{
    width: 50%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}


/*# sourceMappingURL=main.css.map*/