/**
 * Base
 *
 * @package Corail
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */

@tailwind base;

@layer base {
	*,
	::after,
	::before {
		--base-font-size-unitless: 16;
		--prototype-width-unitless: 1440;
	}

	html {
		font-size: var(--base-font-size-unitless);
	}

	@screen lg {
		html {
			font-size: calc(var(--base-font-size-unitless) * 100vw / var(--prototype-width-unitless));
		}
	}

	body {
		@apply text-gray-very-dark;
	}

	h1,
	.h1 {
	}

	h2,
	.h2 {
	}

	h3,
	.h2 {
	}

	hr {
		@apply border-none w-full h-px;
	}

	/* Roobert */
	@font-face {
		font-family: "Roobert";
		src: url("../fonts/roobert-bold.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Roobert";
		src: url("../fonts/roobert-medium.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Roobert";
		src: url("../fonts/roobert-semibold.woff2") format("woff2");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}
}
